body {
    font-size:11px !important
}
.ui-tabs-panel {
    padding: 2px !important;
}
/* This will be applied to all HTML in the page and not just PrimeFaces components*/

root {
    font-size: 11px;
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
}
/* We can adjust the font-size value if we wish to make PrimeFaces components stand out by making them larger or smaller so that they don't take up as much space on the page */

.ui-widget {
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
    font-size: 1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    /*font-family: 'Segoe UI', Arial, sans-serif;*/
    font-size: 0.8em;
}


.tabview{
    height: 300px;
}
.ui-inputtext {
    width: 100%;
}









.five-percent{
    width: 5%;
    height: auto;
}
.ninety-percent{
    width: 90%;
    height: auto;
}
div.ui-row-toggler{
    pointer-events: none;
    
}

.colored {
   background-color: #cceeff;
   color: #FFFFFF;
}
.red-button{
    button > span{background-color: red;color: red}
}

 .animated .ui-progressbar-value { 
     
        background-image: url("#{resource['images/pbar-ani.gif.xhtml']}"); 
    }
/*#upperFilter, #flipUpperFilter {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}*/

#formPartner\:panelParnter_content{
    margin: 0px;
    padding: 0px;
}

.ui-tabs {
    background: gainsboro;
    border: #14A4FF solid 1px !important;
}
#nopadding{
   margin: 0;
   padding: 0;
}
#flipUpperFilter {
    cursor: pointer;
}
#upperFilter {
    /*padding: 5px;*/
    display: none;
}
legend { 
 
    font-size: small !important ;
    margin-bottom: 5px !important;
}

